RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]

<Limit GET POST>
order deny, allow
deny from all
allow from 72.81.128.92
</LIMIT>
